/**************** Universal Styles ****************/

.flex-container {
  display: box;
  display: -webkit-box;
  display: flex;
  display: -webkit-flex;
}

.flex-vertical {
  box-orient: vertical;
  -webkit-box-orient: vertical;
  flex-direction: column;
  -webkit-flex-direction: column;
}

.flex-horizontal {
  box-orient: horizontal;
  -webkit-box-orient: horizontal;
  flex-direction: row;
  -webkit-flex-direction: row;
}

.flex1 {
  box-flex: 1;
  -webkit-box-flex: 1;
  flex: 1;
  -webkit-flex: 1;
}

body {
  padding-top: 40px;
}

#content {
  margin-top: 20px;
}

/**************** Project Dashboard ****************/
.project_dashboard .row {
  margin-bottom: 20px;
}

.project_thumbnail .thumbnail {
  position: fixed;
}

.project_thumbnail thumbnail img {
  
}

.project_thumbnail img:hover {
  opacity: 0.2;
}

.project_thumbnail .title {
  width: 210px;
  height: 210px;
  padding: 5px;
  z-index: -1;
  font-size: 1.25em;
  line-height: 1.25em;
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
}

.project_thumbnail p {
  margin: 0;
}

/**************** New Project ****************/
.edit form {
  margin: 0;
}

.edit form input {
  margin: 0;
  padding: 0;
  border: none;
  color: #fff;
  background-color: transparent;
  -webkit-appearance: none;
}